body
{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav{
    margin-bottom: 20px;
    padding: 10px;
}

nav a
{
    text-decoration: none;
    color: white;
    padding: 7px;
}

nav a:hover
{
    border-radius: 15px;
    background-color: lightgreen;
    color: black;
}

header
{
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.headertext
{
    width: 400px;
    margin-right: auto;
    text-shadow: 0 0 2px white;
}

.header-img
{
    width: 300px;
    margin: auto;
    border-radius: 30px;
}

button
{
    border: none;
    padding: 7px;
    border-radius: 15px;
    background-color: rgb(95, 236, 95);
}

button:hover
{
    background-color: lightgreen;
    cursor: pointer;
}

.color
{
    pointer-events: none;
    z-index: -1;
    height: 1200px;
    width:  1200px;
    background-image: radial-gradient(closest-side, rgba(238, 19, 19, 0.562), #00000000);
    position: absolute;
    top: -570px;
    left: 15%;
}

.color2
{
    pointer-events: none;
    z-index: -1;
    height: 800px;
    width:  800px;
    background-image: radial-gradient(closest-side, rgba(19, 114, 238, 0.562), #00000000);
    position: absolute;
    top: 300px;
    left: -260px;
}

form
{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 80px;
    padding-top: 40px;
    max-width: 500px;
    text-align: center;
}

.fruits
{
    display: flex;
    margin: auto;
    max-width: 800px;
    flex-wrap: wrap;
}

.fruits div
{
    width: 196.5px;
    border: 2px solid black;
    border-radius: 10px;
}

.products-page
{
    display: flex;
}

.products
{
    width: 1100px;
    color: black;
    margin: auto;
    border-radius: 15px;
    flex-wrap: wrap;
    display: flex;
}

.item
{
    background-color: white;
    width: 248px;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 15px;
}

.filter
{
    box-shadow: 1px 1px 1px 1px red;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 5px;
    flex-wrap: wrap;
}

.products-image
{
    width: 248px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}