body
{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav{
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

nav a
{
    text-decoration: none;
    color: white;
    padding: 7px;
}

nav a:hover
{
    border-radius: 15px;
    background-color: lightgreen;
    color: black;
}

header
{
    padding-top: 30px;
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.headertext
{
    margin-bottom: 5px;
}

.headertext h1
{
    width: 400px;
    margin-right: auto;
    text-align: center;
    text-shadow: 0 0 2px white;
}

.indextext
{
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    padding: 10px;
    padding-left: 20px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.header-img
{
    width: 300px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 10px black;
}

button
{
    border: none;
    padding: 7px;
    border-radius: 15px;
    background-color: rgb(95, 236, 95);
    box-shadow: 1px 1px 2px black;
}

button:hover
{
    background-color: lightgreen;
    cursor: pointer;
    box-shadow: 0 0 3px white;
}

.color
{
    pointer-events: none;
    z-index: -1;
    height: 1200px;
    width:  1200px;
    background-image: radial-gradient(closest-side, rgba(238, 19, 19, 0.562), #00000000);
    position: absolute;
    top: -570px;
    left: 15%;
}

.color2
{
    pointer-events: none;
    z-index: -1;
    height: 800px;
    width:  800px;
    background-image: radial-gradient(closest-side, rgba(19, 114, 238, 0.562), #00000000);
    position: absolute;
    top: 300px;
    left: -260px;
}

form
{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 80px;
    padding-top: 40px;
    max-width: 500px;
    text-align: center;
}

.fruits
{
    display: flex;
    margin: auto;
    max-width: 800px;
    flex-wrap: wrap;
}

.fruits div
{
    width: 196.5px;
    border: 2px solid black;
    border-radius: 10px;
}

#user
{
    margin-left: 10px;
}

#review
{
    margin-top: 5px;
    margin-left: 10px;
}

#user h3
{
    margin-top: 0;
    margin-bottom: 0;
}

#review p
{
    margin-top: 5px;
}

table
{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.15);
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

table th, table td
{
    padding: 10px 10px;
}
table, tr
{
    border-collapse: collapse;
}
table thead tr
{
    text-align: left;
    background-color: orange;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 20px rgba( 0, 0, 0, 0.15);
}
table tbody tr
{
    border-bottom: 1px solid #dddddd;
}
table tbody tr:last-of-type
{
    border-bottom: 2px solid orange;
}